/* WorkoutDetailComponent's private CSS styles */
.exercises{
    margin: 0 0 2em 0;
	list-style-type: none;
    padding: 0;
    display: inline-block;
    li {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin: 1em;
        background-color: #EEE;
        .badge {
            min-width: 23px;
            margin: 5px 10px 5px 5px;
            color: white;
            background-color: #405061;
            text-align: center;
            padding: 10px;
            border-radius: 4px;
        }
        input, select {
            vertical-align: middle;
            margin: 5px 10px 5px 0;
            padding: 5px;
            background-color: #fff;
            border: 1px solid #ddd;
        }
        label {
            margin: 5px 10px 5px 0;
        }
    }
    
    .delete {
        margin-right: 5px;
        float: right;
    }
}
