<div *ngIf="workout">
    <h2>{{workout.name | uppercase}} Details</h2>
    <div><span>id: </span>{{workout._id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="workout.name" placeholder="name"/>
        </label>
    </div>

    <ul class="exercises">
        <li *ngFor="let exerciseUnit of workout.exerciseUnits">
            <span class="badge">{{exerciseUnit._exerciseId}}&nbsp;</span>
            <label>Exercise:
                <select [(ngModel)]="exerciseUnit._exerciseId"
                    class="form-control"
                    ng-init="exerciseUnit._exerciseId">
                    <option *ngFor="let exercise of availableExercises" 
                        [ngValue]="exercise._id">
                            {{exercise.name}}
                    </option> 
                </select>
            </label>
            <label>Sets:
                <input [(ngModel)]="exerciseUnit.sets" placeholder="sets"/>
            </label>
            <label>Reps:
                <input [(ngModel)]="exerciseUnit.reps" placeholder="reps"/>
            </label>
            <label>Weight:
                <input [(ngModel)]="exerciseUnit.weight" placeholder="weight"/>
            </label>
            <button class="delete" title="delete exercise"
                (click)="delete(exerciseUnit)">x</button>
        </li>
        <button (click)="add()" title="add a new exercise">
            add an excise
        </button>
    </ul>
    
    <div class="controls">
        <button (click)="goBack()">go back</button>
        <button (click)="save()">save</button>
    </div>
</div>