<h2>Exercise catalogue</h2>

<app-exercise-search></app-exercise-search>

<div>
  <label>Exercise name:
    <input #exerciseName />
  </label>
  <button (click)="add(exerciseName.value); exerciseName.value=''">
    add
  </button>
</div>

<ul class="exercises">
  <li *ngFor="let exercise of exercises">
    <a routerLink="/exercises/{{exercise._id}}"><span class="badge">{{exercise._id}}</span>{{exercise.name}}</a>
    <button class="delete" title="delete exercise"
      (click)="delete(exercise)">x</button>
  </li>
</ul>