/* Application-wide Styles */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
  color: #333;
  font-family: Cambria, Georgia;
}

input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

button {
  margin: 0px 1px;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial, Helvetica, sans-serif;
  &:hover {
    background-color: #cfd8dc;
  }
  &.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
}
}

/* everywhere else */

* {
  font-family: Arial, Helvetica, sans-serif;
}